<ion-view view-title="Lista de Alunos">
  <ion-content>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="nome do aluno/aluna" ng-model="search">
        </label>
        <a class="button button-small button-balanced ion-search"> </a>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
      ng-repeat="client in chats | filter: search" type="item-text-wrap" href="#/app/client/{{client.id}}">
      <img ng-src="{{client.face}}">
      <h2>{{client.name}}</h2>
      <p>{{client.lastText}}</p>
      <i class="icon ion-chevron-right icon-accessory" style="color: blue;"></i>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
