<ion-modal-view >
	<ion-header-bar>
		<h1 class="title">Autenticação</h1>
	</ion-header-bar>
	<ion-content>
		<form ng-submit="authenticate(user)">
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">ID</span>
					<input type="number" ng-model="user.id" placeholder="Id de cadastro" >
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Password</span>
					<input type="password" ng-model="user.password" placeholder="Senha" >
				</label>
				<label class="item">
					<button class="button button-block button-positive" type="submit">Entrar</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-modal-view>
